.catalog__container {
  background-image: url("../img/background_dandelion.png");
  background-repeat: no-repeat;
  padding-top: 220px;
  
}

.catalog--font {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #515076;

}

.catalog__title {
  margin-bottom: 110px;

}

.catalog__product-blog {
}